

 <!-- review section -->
    <div class="momslovelovebug-sec">
        <div class="container">
            <h3 class="sec-titl">
                  <p>Customer Reviews</p>
                  Moms Love Lovebug
              <img src="{{ 'star-with-tail.svg' | asset_url }}" alt="lovebug" class="titlimg">
              </h3>
           
        </div>
    </div>




{% schema %}
  {
    "name": "Customer Review",
    "settings": []
  }
{% endschema %}