

 <!-- review section -->
    <div class="momlovel-sec">
        <div class="container">
            <h3 class="sec-titl">
              <img src="{{ 'star-with-tail.svg' | asset_url }}" alt="lovebug" class="titlimg" >
                  <p>Customer Reviews</p>
                  Moms Love Lovebug
              </h3>


            <div class="shopcatgary-wrpr momsloveslider-wrpr">

              <div class="owl-carousel owl-theme bestslr-slider">
                <div class="item">
                    <div class="momslv-card imagebg">
                        <span class="img-feotxt">Image FPO</span>
                        <img src="images/momreviewbg1.png" alt="lovebug">
                        <div class="content-wrpr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <span>Corinne W.</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="momslv-card colorbg blue">
                        <h6 class="dp">CW</h6>
                        <span>Corinne W.</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at justo vitae lorem molestie euismod. Aliquam vitae placerat eros. Cras tincidunt nunc id rhoncus.</p>
                        <div class="rateing">
                        <img src="images/white5star.svg" alt="rateing">
                        </div>
                    </div>
                </div>
            
                <div class="item">
                    <div class="momslv-card imagebg">
                        <span class="img-feotxt">Image FPO</span>
                        <img src="images/momreviewbg1.png" alt="lovebug">
                        <div class="content-wrpr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <span>Corinne W.</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="momslv-card colorbg blue">
                        <h6 class="dp">CW</h6>
                        <span>Corinne W.</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at justo vitae lorem molestie euismod. Aliquam vitae placerat eros. Cras tincidunt nunc id rhoncus.</p>
                        <div class="rateing">
                        <img src="images/white5star.svg" alt="rateing">
                        </div>
                    </div>
                </div>
            
                <div class="item">
                    <div class="momslv-card imagebg">
                        <span class="img-feotxt">Image FPO</span>
                        <img src="images/momreviewbg1.png" alt="lovebug">
                        <div class="content-wrpr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <span>Corinne W.</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="momslv-card colorbg blue">
                        <h6 class="dp">CW</h6>
                        <span>Corinne W.</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at justo vitae lorem molestie euismod. Aliquam vitae placerat eros. Cras tincidunt nunc id rhoncus.</p>
                        <div class="rateing">
                        <img src="images/white5star.svg" alt="rateing">
                        </div>
                    </div>
                </div>
            </div>
              
            </div>
              
           
        </div>
    </div>




{% schema %}
  {
    "name": "Customer Review",
    "settings": []
  }
{% endschema %}