 <section class="creaatsuperhero-sec">
      <div class="container">
          <h3 class="sec-titl"> Create Your Superhero</h3>
      </div>
  </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}