 <section class="creaatsuperhero-sec">
      <div class="container">
          <h3 class="sec-titl"> Create Your Superhero</h3>
      </div>
  </section>


  <style>
  .creaatsuperhero-sec:before{
     background: url({{ 'sectionwhite-shape.svg' | asset_url }}) no-repeat;
     background-size:100%;
  }
</style>

{% schema %}
  {
    "name": "Superhero Section",
    "settings": []
  }
{% endschema %}